.my-task {


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;

}

.tasks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}

form {
    margin: auto;
}


@media only screen and (max-width: 576px) {
    .my-task {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:580px) and (max-width: 992px) {
    .my-task {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:993px) and (max-width: 1400px) {
    .my-task {
        grid-template-columns: repeat(2, 1fr);
    }
}