.login-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

.login-form {
    background-color: #f3f8fe;
    padding: 70px;
    width: 40%;
    height: 100%;
}

.login-form input {
    display: block;
    padding: 5px;
    margin: 10px auto;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.534);

}

.login-form input:focus {
    outline: none;
}

.login-form h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    color: #58A0EF;

}

.login-form button {
    display: block;
    width: 300px;
    margin: 0px auto;
    background-color: #58A0EF;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;

}

.primary-btn:hover {
    background-color: #58a1efd7;
}

.right-side {
    width: 70%;
    background-color: rgb(230, 215, 250);
    height: 100%;
}

.right-side img {

    height: 100%;
    width: 100%;
}

.signUp {
    color: #58A0EF;
}

.forgot {
    color: #58A0EF;
    font-size: 15px;
    margin-left: 33px;
    margin-bottom: 10px;
    cursor: pointer;
}

.forgotBackdrop {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotModal {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.forgotModal input {
    display: block;
    width: 300px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.534);
}

.forgotModal input:focus {
    outline: none;
}

.forgotModal button {
    background-color: #58A0EF;
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin: 15px auto;
    font-weight: 600;
    width: 300px;


}

@media only screen and (max-width:600px) {
    .right-side {
        display: none;
    }

    .login-form {
        width: 100%;
        padding: 10px;
        padding-top: 100px;
    }
}