.dashboard-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.dashboard-navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    z-index: 999;
    box-shadow: 0 5px 8px rgb(192 198 213 / 20%);
}

.dash-nav-icon {
    display: inline;
    font-size: 20px;
    margin: 0px 10px;
    color: #58A0EF;
    cursor: pointer;
}

.profie {
    display: inline;
    position: relative;
}


.profie p {
    color: #58A0EF;
    cursor: pointer;
}

.sidebar {
    width: 55px;
    height: calc(100vh - 50px);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    background-color: #58A0EF;
}

.sidebar-icon {
    font-size: 25px;
    margin: 20px auto;
    color: white;
}

.dashboard-body {
    margin-left: 55px;
}

.user-profile {
    width: 250px;
    height: 300px;
    background-color: #58A0EF;
    color: white;
    position: absolute;
    z-index: 999;
    border-radius: 5px;
    top: 25px;
    right: 0;
    padding:15px;
}

.profile-close-icon {
    margin-left: 85%;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;


}

.profile-close-icon:hover {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 50px;
}