.news-card{
    width: 80%;
    display: block;
    margin: 15px auto;
    min-height: 200px;
    padding: 10px;
    border: solid rgb(88, 84, 84) 1px;
    border-radius: 25px;
}
.post-date{
    font-size: 11px;
  
}