.news-card {
    width: 80%;
    display: block;
    margin: 15px auto;
    -webkit-box-shadow: -2px 3px 36px -23px rgba(0,0,0,0.61);
    -moz-box-shadow: -2px 3px 36px -23px rgba(0,0,0,0.61);
    box-shadow: -2px 3px 36px -23px rgba(0,0,0,0.61);
    min-height: 200px;
    padding: 10px;
}

.post-date {
    font-size: 11px;

}
.post-name{
    color:#58A0EF ;
}