header {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.overly {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}

.header-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header-content {
    width: 40%;
}

.header-content h1 {
    font-size: 50px;
    background: #ED5427;
    background: radial-gradient(circle farthest-corner at bottom left, #ED5427 4%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 65px;
    font-weight: bold;
}

.header-image {
    width: 60%;
}

.header-image img {
    width: 85%;
    margin-left: 70px;
}

.header-content p {
    margin: 15px 0px;
    color: rgba(255, 255, 255, 0.644);
}

.header-container button {
    background-color: #ED5427;
    color: white;
    padding: 8px 40px;
    width: 250px;
    border-radius: 50px;
}

/* responsive code  */

@media only screen and (max-width:600px) {

    .header-container {
        flex-direction: column-reverse;
        padding: 5px 15px;
        justify-content: center;
        margin-top: -35px;
    }

    .header-content {
        width: 100%;
        margin-top: -35px;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-image {
        width: 100%;

    }

    .header-image img {
        margin-left: 0px;

        width: 100%;

    }

}