.partners {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin: auto;
}

@media only screen and (max-width: 576px) {
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:360px) and (max-width: 640px) {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:414px) and (max-width: 610px) {
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:580px) and (max-width: 992px) {
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:712px) and (max-width: 1150px) {
    .partners {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width:993px) and (max-width: 1400px) {
    .partners {
        grid-template-columns: repeat(7, 1fr);
    }
}